ion-col{
    border: solid 1px black;
    text-align: center;
    background-color:cornflowerblue;
    display:block;

}

b{
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}