<ion-header>
  <ion-toolbar>
    <ion-title>Actividad de alumnos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #alumnosForm="ngForm" (ngSubmit)="agregarAlumno()">  
    <ion-label class="label">Nombre alumno:</ion-label>  
    <ion-input class="input" required [(ngModel)]="alumno.nombre" placeholder="Ejemplo: Eduardo" name="nombre"></ion-input>  

    <ion-label class="label">  
      <ion-checkbox [(ngModel)]="alumno.presente" name="presente"></ion-checkbox> Presente  
    </ion-label>  

    <div>  
      <ion-button class="submit-btn" type="submit" expand="full">Agregar</ion-button>  
    </div>  
  </form>
  <ion-list *ngIf="alumnos.length > 0" class="alumnos-list">
    <ion-item *ngFor="let alumno of alumnos" class="alumno-item">
      <ion-label>
        <h2 class="alumno-nombre">{{ alumno.nombre }}</h2>
        <p class="alumno-presente">{{ alumno.presente ? 'Presente' : 'Ausente' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>


  <p *ngIf="alumnos.length === 0" class="no-alumnos">No hay alumnos agregados</p>
</ion-content>





