/* Estilo general del contenido del home "si lo saque de un repositorio que me gusta sus estilos para proyecto de ionic, porque queria que se viera bonito"  */
ion-content {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  background-color: #f0f0f0; 
  padding: 20px; 
  text-align: center; 
}

/* Estilo para el título maldito */
h1 {
  font-size: 28px; 
  font-weight: bold; 
  color: #333; 
  margin-bottom: 20px; 
  animation: fadeIn 1s ease-in-out; 
}

/* Estilo para el enlacin */
a {
  font-size: 18px;
  color: #007bff; 
  text-decoration: none; /*Pa quitarle el subrayado*/
  padding: 10px 20px; 
  background-color: #ffffff; 
  border-radius: 5px; /* Bordes redondeados porque se ve mejor */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombreando chulon */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transición suave */
}

/* Efecto hover en el mendigo routerlink osea en el textin que casi parece boton para hacerlo chido. OBVI */
a:hover {
  background-color: #007bff; 
  color: #ffffff;
  transform: scale(1.05);
}

/* Animación de fade-in o como se le llame, lo saque de internet  para que  el título se vea chido */ 
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px); /* Empieza ligeramente desplazado hacia arriba */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Termina en su posición original */
  }
}
