/* Estilo para las tarjetas feas de productos */
.producto-card {
    margin: 15px; 
    border-radius: 10px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }
  
  
  .producto-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  }
  
  
  .producto-card-header {
    background-color: #f8f8f8; 
    font-weight: bold;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
    text-align: center; 
  }
  

  .producto-card-content {
    padding: 15px; 
    text-align: center; 
  }
  
  /* Estilo para las imágenes que unas estan mas grandes que otras */
  .producto-imagen {
    width: 100%; /* Ocupa todo el anchote ,pero dentro  del contenedor */
    max-width: 200px; 
    height: 200px;
    object-fit: cover; 
    border-radius: 8px; 
    transition: transform 0.3s ease; /* Transición para el zoom */
  }
  
  /* Efecto hover para las imágenes "Me gusta el efecto que se le dan a las imagenes" */
  .producto-imagen:hover {
    transform: scale(1.1); /* Efecto de zoom al hacer hover */
  }
  