<ion-header>
  <ion-toolbar>
    <ion-title>Lista de productos/ que me busque en internet pa acomodar el grid :C</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let producto of productos">
        <ion-card class="producto-card">
          <a [routerLink]="['/productoDetalle', producto.id]">
            <ion-card-header class="producto-card-header">
              {{ producto.title }}
            </ion-card-header>
          </a>
          <ion-card-content class="producto-card-content">
            <img [src]="producto.image" alt="Imagen de {{ producto.title }}" class="producto-imagen">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

